<h1 mat-dialog-title>Utwórz nowego oddział</h1>
<div mat-dialog-content>
  <mat-form-field class="example-full-width" style="width: 100%">
    <input matInput placeholder="Ocena" type="number" [formControl]="value">
    <mat-error *ngIf="this.value.hasError('required')">
      Ocena jest <strong>wymagana</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width" style="width: 100%">
    <input matInput placeholder="Numer przemiotu" type="number" [formControl]="subject">
    <mat-error *ngIf="this.subject.hasError('required')">
      Przedmiot jest <strong>wymagana</strong>
    </mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">ZAPISZ</button>
</div>
