<h1 mat-dialog-title>Utwórz nowego oddział</h1>
<div mat-dialog-content>
  <div class="example-loading-shade"
       *ngIf="loading">
    <mat-spinner *ngIf="loading"></mat-spinner>
  </div>
  <div *ngIf="!loading" style="width: 100%">
        <mat-form-field class="example-full-width" style="width: 100%">
          <input matInput placeholder="Nazwa oddziału" [formControl]="name">
          <mat-hint>Errors appear instantly!</mat-hint>
          <mat-error *ngIf="this.name.hasError('required')">
            Nazwa jest <strong>wymagana</strong>
          </mat-error>
        </mat-form-field>
    <mat-grid-list cols="2">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-list>
          <h3 mat-subheader>Studenci</h3>
          <mat-list-item *ngFor="let students of studentsArray">
            <mat-icon mat-list-icon>user</mat-icon>
            <h4 mat-line>{{students.email}}</h4>
            <p mat-line>
              <button mat-button (click)="addStudent(students.uid)">Dodaj</button>
            </p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <h3 mat-subheader>Dodani Studenci</h3>
          <mat-list-item *ngFor="let addStudent of addStudentsArray">
            <h4 mat-line>{{addStudent.email}}</h4>
          </mat-list-item>
        </mat-list>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-list>
          <h3 mat-subheader>Nauczyciele</h3>
          <mat-list-item *ngFor="let students of teacherArray">
            <mat-icon mat-list-icon>user</mat-icon>
            <h4 mat-line>{{students.email}}</h4>
            <p mat-line>
              <button mat-button (click)="addTeacher(students.uid)">Dodaj</button>
            </p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <h3 mat-subheader>Dodany Nauczyciel</h3>
          <mat-list-item *ngFor="let addStudent of addTeacherArray">
            <h4 mat-line>{{addStudent.email}}</h4>
          </mat-list-item>
        </mat-list>
      </mat-grid-tile>
    </mat-grid-list>

  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">ZAPISZ</button>
</div>
