<!-- Toolbar -->
<mat-toolbar color="primary" class="app-header">
  <div><a href="https://www.positronx.io" target="_blank" class="positronx">Dziennik Elektroniczny</a></div>
  <span class="nav-tool-items">
    <button mat-button (click)="signOut()">Wyloguj</button>
  </span>
</mat-toolbar>

<router-outlet></router-outlet>
