<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Log in</mat-card-title>
      </mat-card-header>

      <form class="example-form" [formGroup]="loginForm">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input  matInput placeholder="Username" formControlName="email">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password" type="password" formControlName="password">
          </mat-form-field>
        <mat-error style="margin-bottom: 10px; text-align: center" *ngIf="loginForm.invalid || wrongRequest">Nieprawidłowe dane w formularzu</mat-error>
        </mat-card-content>
        <button mat-stroked-button color="accent" (click)="loginClick()" class="btn-block">Log in</button>
      </form>
    </mat-card>

  </div>
