<h1 mat-dialog-title>Utwórz nowego użytkownika</h1>
<div mat-dialog-content>
  <h6>Wybierz typ użytkownika</h6>
  <mat-form-field style="width: 100%">
    <mat-label>Typ użytkownika</mat-label>
    <mat-select [(value)]="choosenRole">
      <mat-option *ngFor="let role of roles" [value]="role.value">
        {{role.label}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div *ngIf="choosenRole === 'STUDENT'">
    <form class="example-form" [formGroup]="studentForm">
      <mat-form-field class="example-full-width" style="width: 100%">
        <input matInput placeholder="E-mail Ucznia" formControlName="studentEmail">
        <mat-hint>Errors appear instantly!</mat-hint>
        <mat-error *ngIf="this.studentForm.controls['studentEmail'].hasError('email') && !this.studentForm.controls['studentEmail'].hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="this.studentForm.controls['studentEmail'].hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width" style="width: 100%">
        <input matInput placeholder="E-mail Rodzica" formControlName="parentEmail">
        <mat-hint>Errors appear instantly!</mat-hint>
        <mat-error *ngIf="this.studentForm.controls['parentEmail'].hasError('email') && !this.studentForm.controls['parentEmail'].hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="this.studentForm.controls['parentEmail'].hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </form>
  </div>
  <div *ngIf="choosenRole === 'TEACHER'">
    <form class="example-form" [formGroup]="teacherForm">

      <mat-form-field class="example-full-width" style="width: 100%">
        <input matInput placeholder="Email" formControlName="teacherEmail">
        <mat-hint>Errors appear instantly!</mat-hint>
        <mat-error *ngIf="this.teacherForm.controls['teacherEmail'].hasError('email') && !this.teacherForm.controls['teacherEmail'].hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="this.teacherForm.controls['teacherEmail'].hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </form>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">ZAPISZ</button>
</div>
