.ui-wrapper {
  height: 100%;
  padding: 20px;
}

.ui-box {
  position: relative;
  top: 0;
  width: 100%;
  background: #fff;
  max-width: 1200px;
  padding: 20px;
}

.ui-fab-button {
  position: absolute;
  bottom: 15px;
  right: 15px;
  z-index: 5;
}

table {
  width: 100%;
}
