<div  class="ui-wrapper" fxLayout="row" fxLayoutAlign="center center" [ngSwitch]="userInterface">
  <mat-tab-group class="ui-box" *ngSwitchCase="'ADMIN'">
    <mat-tab label="Użytkownicy" >
      <div class="example-container mat-elevation-z8">
        <div class="example-loading-shade"
             *ngIf="isLoadingResults">
          <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        </div>

        <div class="example-table-container">

          <table mat-table [dataSource]="users" class="example-table"
                 matSort matSortActive="created" matSortDisableClear matSortDirection="desc">
            <!-- Number Column -->
            <ng-container matColumnDef="uid">
              <th mat-header-cell *matHeaderCellDef>Id Użytkownika</th>
              <td mat-cell *matCellDef="let row">{{row.uid}}</td>
            </ng-container>

            <!-- Title Column -->
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef>Adres E-mail</th>
              <td mat-cell *matCellDef="let row">{{row.email}}</td>
            </ng-container>

            <!-- State Column -->
            <ng-container matColumnDef="role">
              <th mat-header-cell *matHeaderCellDef>Rola</th>
              <td mat-cell *matCellDef="let row">{{row.role}}</td>
            </ng-container>

            <!-- Created Column -->
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                Akcje
              </th>
              <td mat-cell *matCellDef="let row">action</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>

        <mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator>
      </div>
    </mat-tab>
    <mat-tab label="Oddziały">
      <div style="margin: 15px">
        <button mat-flat-button color="accent" (click)="createNewBranch()">Nowy oddział</button>
      </div>
      <div class="example-container mat-elevation-z8">
        <div class="example-loading-shade"
             *ngIf="isLoadingResultsSecond">
          <mat-spinner *ngIf="isLoadingResultsSecond"></mat-spinner>
        </div>
        <div class="example-table-container">

          <table mat-table [dataSource]="branch" class="example-table"
                 matSort matSortActive="created" matSortDisableClear matSortDirection="desc">
            <!-- Number Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>Id Oddziału</th>
              <td mat-cell *matCellDef="let el">{{el.id}}</td>
            </ng-container>

            <!-- Title Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Nazwa</th>
              <td mat-cell *matCellDef="let el">{{el.data.name}}</td>
            </ng-container>

            <!-- State Column -->
            <ng-container matColumnDef="teacher">
              <th mat-header-cell *matHeaderCellDef>Wychowawca</th>
              <td mat-cell *matCellDef="let el">{{el.teacher.email}}</td>
            </ng-container>

            <ng-container matColumnDef="students">
              <th mat-header-cell *matHeaderCellDef>Uczniowie</th>
              <td mat-cell *matCellDef="let el">
                <mat-list>
                  <div mat-list-item  *ngFor="let student of el.students"> {{student.email}} </div>

                </mat-list>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="branchDisplayColumn"></tr>
            <tr mat-row *matRowDef="let el; columns: branchDisplayColumn;"></tr>
          </table>
        </div>

        <mat-paginator [length]="resultsLengthPresent" [pageSize]="30"></mat-paginator>
      </div>
    </mat-tab>
  </mat-tab-group>
  <mat-tab-group class="ui-box" *ngSwitchCase="'PARENT'">
    <mat-tab label="Oceny" >
      <div class="example-container mat-elevation-z8">
        <div class="example-loading-shade"
             *ngIf="isLoadingResults">
          <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        </div>

        <div class="example-table-container">

          <table mat-table [dataSource]="degrees" class="example-table"
                 matSort matSortActive="created" matSortDisableClear matSortDirection="desc">
            <!-- Number Column -->
            <ng-container matColumnDef="subject">
              <th mat-header-cell *matHeaderCellDef>Przedmiot</th>
              <td mat-cell *matCellDef="let row">{{row.subject}}</td>
            </ng-container>

            <!-- Title Column -->
            <ng-container matColumnDef="value">
              <th mat-header-cell *matHeaderCellDef>Ocena</th>
              <td mat-cell *matCellDef="let row">{{row.value}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="degreeDisplayColumn"></tr>
            <tr mat-row *matRowDef="let row; columns: degreeDisplayColumn;"></tr>
          </table>
        </div>

        <mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator>
      </div>
    </mat-tab>
    <mat-tab label="Obecności">
      <div class="example-container mat-elevation-z8">
        <div class="example-loading-shade"
             *ngIf="isLoadingResultsSecond">
          <mat-spinner *ngIf="isLoadingResultsSecond"></mat-spinner>
        </div>

        <div class="example-table-container">

          <table mat-table [dataSource]="presentList" class="example-table"
                 matSort matSortActive="created" matSortDisableClear matSortDirection="desc">
            <!-- Number Column -->
            <ng-container matColumnDef="subject">
              <th mat-header-cell *matHeaderCellDef>Przedmiot</th>
              <td mat-cell *matCellDef="let row">{{row.subject}}</td>
            </ng-container>

            <!-- Title Column -->
            <ng-container matColumnDef="topic">
              <th mat-header-cell *matHeaderCellDef>Temat lekcji</th>
              <td mat-cell *matCellDef="let row">{{row.topic}}</td>
            </ng-container>

            <ng-container matColumnDef="present">
              <th mat-header-cell *matHeaderCellDef>Obecność</th>
              <td mat-cell *matCellDef="let row">{{row.present}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="presentDisplayColumn"></tr>
            <tr mat-row *matRowDef="let row; columns: presentDisplayColumn;"></tr>
          </table>
        </div>

        <mat-paginator [length]="resultsLengthPresent" [pageSize]="30">
        </mat-paginator>
      </div>
    </mat-tab>
  </mat-tab-group>
  <mat-tab-group class="ui-box" *ngSwitchCase="'STUDENT'">
    <mat-tab label="Oceny" >
      <div class="example-container mat-elevation-z8">
        <div class="example-loading-shade"
             *ngIf="isLoadingResults">
          <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        </div>

        <div class="example-table-container">

          <table mat-table [dataSource]="degrees" class="example-table"
                 matSort matSortActive="created" matSortDisableClear matSortDirection="desc">
            <!-- Number Column -->
            <ng-container matColumnDef="subject">
              <th mat-header-cell *matHeaderCellDef>Przedmiot</th>
              <td mat-cell *matCellDef="let row">{{row.subject}}</td>
            </ng-container>

            <!-- Title Column -->
            <ng-container matColumnDef="value">
              <th mat-header-cell *matHeaderCellDef>Ocena</th>
              <td mat-cell *matCellDef="let row">{{row.value}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="degreeDisplayColumn"></tr>
            <tr mat-row *matRowDef="let row; columns: degreeDisplayColumn;"></tr>
          </table>
        </div>

        <mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator>
      </div>
    </mat-tab>
    <mat-tab label="Obecności">
      <div class="example-container mat-elevation-z8">
        <div class="example-loading-shade"
             *ngIf="isLoadingResultsSecond">
          <mat-spinner *ngIf="isLoadingResultsSecond"></mat-spinner>
        </div>

        <div class="example-table-container">

          <table mat-table [dataSource]="presentList" class="example-table"
                 matSort matSortActive="created" matSortDisableClear matSortDirection="desc">
            <!-- Number Column -->
            <ng-container matColumnDef="subject">
              <th mat-header-cell *matHeaderCellDef>Przedmiot</th>
              <td mat-cell *matCellDef="let row">{{row.subject}}</td>
            </ng-container>

            <!-- Title Column -->
            <ng-container matColumnDef="topic">
              <th mat-header-cell *matHeaderCellDef>Temat lekcji</th>
              <td mat-cell *matCellDef="let row">{{row.topic}}</td>
            </ng-container>

            <ng-container matColumnDef="present">
              <th mat-header-cell *matHeaderCellDef>Obecność</th>
              <td mat-cell *matCellDef="let row">{{row.present}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="presentDisplayColumn"></tr>
            <tr mat-row *matRowDef="let row; columns: presentDisplayColumn;"></tr>
          </table>
        </div>

        <mat-paginator [length]="resultsLengthPresent" [pageSize]="30">
        </mat-paginator>
      </div>
    </mat-tab>
  </mat-tab-group>
  <mat-tab-group class="ui-box" *ngSwitchCase="'TEACHER'">
    <mat-tab label="Uczniowie" >
      <div class="example-container mat-elevation-z8">
        <div class="example-loading-shade"
             *ngIf="isLoadingResults">
          <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        </div>

        <div class="example-table-container">

          <table mat-table [dataSource]="users" class="example-table"
                 matSort matSortActive="created" matSortDisableClear matSortDirection="desc">
            <!-- Number Column -->
            <ng-container matColumnDef="uid">
              <th mat-header-cell *matHeaderCellDef>Id Użytkownika</th>
              <td mat-cell *matCellDef="let row">{{row.uid}}</td>
            </ng-container>

            <!-- Title Column -->
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef>Adres E-mail</th>
              <td mat-cell *matCellDef="let row">{{row.email}}</td>
            </ng-container>

            <!-- State Column -->
            <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef>Rola</th>
            <td mat-cell *matCellDef="let row">{{row.role}}</td>
          </ng-container>

            <!-- Created Column -->
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                Akcje
              </th>
              <td mat-cell *matCellDef="let row">
                <button mat-button color="accent" (click)="addDegree(row.uid)">Dodaj ocene</button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>

        <mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator>
      </div>
    </mat-tab>
    <mat-tab label="Oddziały">
      <div class="example-container mat-elevation-z8">
        <div class="example-loading-shade"
             *ngIf="isLoadingResultsSecond">
          <mat-spinner *ngIf="isLoadingResultsSecond"></mat-spinner>
        </div>
        <div class="example-table-container">

          <table mat-table [dataSource]="branch" class="example-table"
                 matSort matSortActive="created" matSortDisableClear matSortDirection="desc">
            <!-- Number Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>Id Oddziału</th>
              <td mat-cell *matCellDef="let el">{{el.id}}</td>
            </ng-container>

            <!-- Title Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Nazwa</th>
              <td mat-cell *matCellDef="let el">{{el.data.name}}</td>
            </ng-container>

            <!-- State Column -->
            <ng-container matColumnDef="teacher">
              <th mat-header-cell *matHeaderCellDef>Wychowawca</th>
              <td mat-cell *matCellDef="let el">{{el.teacher.email}}</td>
            </ng-container>

            <ng-container matColumnDef="students">
              <th mat-header-cell *matHeaderCellDef>Uczniowie</th>
              <td mat-cell *matCellDef="let el">
                <mat-list>
                  <div mat-list-item  *ngFor="let student of el.students"> {{student.email}} </div>

                </mat-list>
              </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                Akcje
              </th>
              <td mat-cell *matCellDef="let el">
                <button mat-button color="accent" (click)="addLesson(el.id)">Dodaj lekcje</button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="branchTeachDisplayColumn"></tr>
            <tr mat-row *matRowDef="let el; columns: branchTeachDisplayColumn;"></tr>
          </table>
        </div>

        <mat-paginator [length]="resultsLengthPresent" [pageSize]="30"></mat-paginator>
      </div>
    </mat-tab>
  </mat-tab-group>
  <button class="ui-fab-button" mat-fab color="warn" (click)="actionFabButton()">
    <i class="material-icons">
      add
    </i>
  </button>
</div>



