<h1 mat-dialog-title>Utwórz nową lekcje</h1>
<div mat-dialog-content>
  <div *ngIf="!secondView">
    <mat-form-field class="example-full-width" style="width: 100%">
      <input matInput placeholder="Temat zajeć" [formControl]="topic">
      <mat-error *ngIf="this.topic.hasError('required')">
        Nazwa jest <strong>wymagana</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" style="width: 100%">
      <input matInput placeholder="Nazwa oddziału" type="number" [formControl]="subject">
      <mat-error *ngIf="this.subject.hasError('required')">
        Nazwa jest <strong>wymagana</strong>
      </mat-error>
    </mat-form-field>
    <button mat-button (click)="createLesson()">Utworz lekcje i sprawdz obecność</button>
  </div>
  <div *ngIf="secondView">
    <div class="example-loading-shade"
         *ngIf="loading">
      <mat-spinner *ngIf="loading"></mat-spinner>
    </div>
    <div *ngIf="!loading">
      <mat-selection-list #shoes (selectionChange)="changePresent($event)">
        <mat-list-option  *ngFor="let student of studentsList" value="{{student.uid}}">
          {{student.email}}
        </mat-list-option>
      </mat-selection-list>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button *ngIf="secondView" mat-button (click)="onNoClick()">ZAPISZ</button>
</div>

